<%= render "shared/menu" %>

<div class="container-fluid">
  <div class="row">
    <!-- sidebar gris -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header center" role="tab" id="headingOne"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Filtros
              </div>
              <div id="collapseOne" class="card-block collapse in" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group list-group-flush">
                  <%= form_tag(documents_path, method: :get , id: "filters")  do %>
                  <%= hidden_field_tag "type" , params[:type] %>
                  <li class="list-group-item"><%= text_field_tag :id, params[:id], placeholder: 'N° documento', :class=>'form-control form-control-sm'%> </li>
                  <li class="list-group-item"><%= text_field_tag :nombre, params[:nombre], placeholder: 'nombre', :class=>'form-control form-control-sm'%> </li>
                  <li class="list-group-item"><%= text_field_tag :author, params[:author], placeholder: 'autor', :class=>'form-control form-control-sm'%> </li>
                  <li class="list-group-item"><%= text_field_tag :typo, params[:typo], placeholder: 'tipo', :class=>'form-control form-control-sm'%> </li>

                  <li class="list-group-item">
                    <%= submit_tag 'Filtrar', class:'btn btn-success', name: nil %>
                    <button type="reset" value="Reset"  class="btn btn-dark">Limpiar</button>
                  </li>
                </ul>
                <% end %>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <!-- sidebar gris -->

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%= render "shared/flash" %>
      <h2 class="display-4 d-none d-sm-block">
        Etiquetas
      </h2>
      <%if user_signed_in? %>
      <%= link_to 'nuevo etiqueta', new_tag_path, remote:true %>
      <%end%>
      <hr>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>n°</th>
              <th>descripcion</th>
              <th> → </th>
            </tr>
          </thead>
          <tbody>
            <% if @data.present? %>
            <% @data.each do |item| %>
            <tr>
              <td><%= item["id"] %></td>
              <td><%= item["description"] %></td>
              <td><%= link_to 'ver', tag_path(item["id"]) %></td>
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td>No hay etiquetas disponibles </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <hr>
      <%== pagy_bootstrap_nav(@pagy_a) %>
    </main>
  </div>
</div>
